doctype html
html
  head
    title= title

    link(rel="stylesheet", href="/lib/materialize/dist/css/materialize.min.css")
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src="/lib/jquery/jquery.min.js")
    script(src="/lib/materialize/dist/js/materialize.min.js")
    block scripts
